{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js" manifest="{% url 'cache-manifest' %}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Offline Data Collection Example{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra-meta %}{% endblock %}
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/site.less' %}">
    <script src="{% static 'libs/less.js' %}"></script>
    {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/site.less' %}">
    {% endcompress %}
    {% endif %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/offline-theme-slide.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/offline-language-english.css' %}">
    {% endcompress %}
    {% block extra-css %}{% endblock %}
    {% compress js %}
    <script src="{% static 'libs/modernizr.js' %}"></script>
    {% endcompress %}
</head>
<body>
    <div class="container">
        <h1>Offline Data Collection Example</h1>
        {% block content %}{% endblock %}
    </div>
    {% compress js %}
    <script src="{% static 'libs/jquery.js' %}"></script>
    <script src="{% static 'libs/underscore.js' %}"></script>
    <script src="{% static 'libs/backbone.js' %}"></script>
    <script src="{% static 'libs/backbone.dualstorage.js' %}"></script>
    <script src="{% static 'libs/offline.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% endcompress %}
    {% block extra-js %}{% endblock %}
</body>
</html>
