/*
*   Site Styles
*/

@import '../libs/lesshat.less';

@bodyBackground: #000;
@contentBackground: #FFF;
@errorHighlight: #FF0000;
@postiveHighlight: #000;
@negativeHighlight: #FF0000;

body {
    font-family: Verdana, Geneva, sans-serif;
    background: @bodyBackground;
    font-size: 18px;
}

.container {
    margin: 5em auto 0;
    padding: 20px;
    width: 50%;
    background: @contentBackground;

    h1 {
        text-align: center;
    }
}

.error {
    margin: 10px 0;
    width: 90%;
    padding: 10px 5px;
    background: @errorHighlight;
    color: @contentBackground;
}

#login {
    display: none;

    label, input {
        display: block;
        margin-bottom: 10px;
    }

    label.required:after {
        content: '*';
        color: @errorHighlight;
        margin-left: 2px;
    }

    input {
        width: 90%;
        padding: 5px;
        background: darken(@contentBackground, 5);
    }

    button {
        padding: 5px 10px;
        background: @bodyBackground;
        color: @contentBackground;

        &:hover {
            background: @contentBackground;
            color: @bodyBackground;
        }
    }
}

#collect, #results {
    display: none;
    text-align: center;

    h3 {
        font-size: 1.6em;
    }
}

#collect {

    button {
        font-size: 1.8em;
        padding: 25px 50px;
        margin: 10px 20px;

        &[name="yes"] {
            background: @postiveHighlight;
            color: @contentBackground;

            &:hover {
                background: @contentBackground;
                color: @bodyBackground;
            }
        }

        &[name="no"] {
            background: @negativeHighlight;
            color: @contentBackground;

            &:hover {
                background: @negativeHighlight;
                color: @bodyBackground;
            }
        }
    }
}

#results {
    .streak {
        font-size: 1.2em;

        .count {
            text-decoration: underline;
            &.empty {
                color: @negativeHighlight;
            }
        }
    }
}