{% extends "base.html" %}

{% load staticfiles compress %}

{% block content %}
    <form id="login" action="{% url 'api-token' %}" method="post">
        <label for="id_username" class="required">Username</label>
        <input id="id_username" type="text" name="username" maxlength="30" required />
        <label for="id_password" class="required">Password</label>
        <input id="id_password" type="password" name="password" required />
        <button type="submit">Login</button>
    </form>
    <div id="collect">
        <h3>Did you clean today?</h3>
        <button name="yes">Yes</button>
        <button name="no">No</button>
    </div>
    <div id="results">
        <p>TODO: Render the current results.</p>
    </div>
{% endblock %}

{% block extra-js %}
    <script id="config" type="text/json">
        {
            "api": "{% url 'cleaning-list' %}"
        }
    </script>
    {% compress js %}
    <script src="{% static 'hygiene/js/app.js' %}"></script>
    <script src="{% static 'hygiene/js/views.js' %}"></script>
    {% endcompress %}
{% endblock %}
